<!DOCTYPE html>
<html lang="en">
<div th:include="components/header"></div>
<body role="document" style="min-height:100%;">
<div th:include="components/nav"></div>

 <div class="col-sm-8 doc-main" style="width:70%; float:left; padding:30px;">
	<main role="main">
		<div class="doc-list-header">
		<h1 th:text="${dailyContent.name}">name</h1>
		<h3 th:text="${dailyContent.description}" style="font-size: 25px">description</h3>
		</div>
 	   	<div class="doc-list-entry" style="padding:30px;"></div>

		<div th:each="topic,iterationStatus  : ${dailyContent.topics}">
			<div>
    			<div style="float:left;">
    				<span style="font-weight: bold; color: #04756F; font-size:28px" th:if="${#strings.isEmpty(topic.labURL) and #strings.isEmpty(topic.slideURL) and topic.id != 'emptysession'}" th:text="${topic.title}">title</span>
       				<span th:if="${not #strings.isEmpty(topic.labURL) or not #strings.isEmpty(topic.slideURL) or topic.id == 'emptysession'}" th:text="${topic.title}">title</span><br th:if="${not #strings.isEmpty(topic.title)}"></br>
       				<span th:text="${topic.description}" th:if="${not #strings.isEmpty(topic.description)}">description</span>
    			</div> <br th:if="${not #strings.isEmpty(topic.description)}"></br>
        		<div style="float:right;">
          			<a th:href="${topic.slideURL}" target="_blank" class="tag-item label label-primary mlm" th:if="${not #strings.isEmpty(topic.slideURL) and topic.id != 'emptysession'}">slides</a>
          			<a th:href="${topic.labURL}" target="_blank" class="tag-item label label-primary" th:if="${not #strings.isEmpty(topic.labURL) and topic.id != 'emptysession'}">labs</a>
    			</div>
  			</div><br/>

			<hr style="height:1px;"></hr>
		</div>


	</main>
</div>

<div th:include="components/resources"></div>

<div th:include="components/footer"></div>

</body>
</html>
