<!DOCTYPE html>
<html lang="en">
<div th:include="components/header"></div>
<body role="document" style="min-height:100%;">
<div th:include="components/nav"></div>

<main role="main">

	<div class="row doc-main">
    	<div class="container" style="width:95%;">
    	
    		<p>Pivotal Cloud Foundry Workshop Installation</p>
		
			<a target="_blank" class="tag-item" href="https://apps.pcf7.cloud.fe.pivotal.io/">Click here to login to Apps Manager</a><br></br><br></br>
			
			<span>CLI Login:</span><br></br>
    		<span style="margin-left:10px;">cf login -a https://api.pcf7.cloud.fe.pivotal.io --skip-ssl-validation</span><br></br>
    		<span style="margin-left:10px;">student# / 83YRyqTBRzChh6m7t3ES</span><br></br>
    		<br></br>

    		<br></br>
    		
    		<p>Labs Repo</p>
		
			<a target="_blank" class="tag-item" href="https://github.com/decelc-pivotal/workshop-labs">Workshop Labs</a><br></br><br></br>
    					
			<p>Tools</p>
		
			<a target="_blank" class="tag-item" href="https://console.run.pivotal.io/tools">Cloud Foundry CLI</a><br></br>
			<a target="_blank" class="tag-item" href="https://spring.io/tools">Spring Tool Suite</a><br></br>
			<a target="_blank" class="tag-item" href="https://curl.haxx.se/download.html">curl</a><br></br>
			<a target="_blank" class="tag-item" href="https://maven.apache.org/">Apache Maven</a><br></br>
			<a target="_blank" class="tag-item" href="http://cjd-manifest-generator.pcf7.cloud.fe.pivotal.io/">CF Manifest Generator</a><br></br><br></br>
					
			<p>Applications</p>
	
			<a target="_blank" class="tag-item" href="https://github.com/cloudfoundry-samples/spring-music">Spring Music</a><br></br>			
			<a target="_blank" class="tag-item" href="https://github.com/Pivotal-Field-Engineering/PCF-demo">PCF Demo</a><br></br>			
			<a target="_blank" class="tag-item" href="https://github.com/spring-cloud-samples">Spring Cloud Samples</a><br></br><br></br>
						
			<p>Labs</p>			
						
			<a target="_blank" class="tag-item" href="https://workshop-content.cfapps.io/labs/04-lab-cli.html">Lab 1 - CLI</a><br></br>		
			<a target="_blank" class="tag-item" href="https://workshop-content.cfapps.io/labs/08-lab-deploy-simple-app.html">Lab 2 - Deploy</a><br></br>	
			<a target="_blank" class="tag-item" href="https://workshop-content.cfapps.io/labs/10-lab-application-manifest.html">Lab 3 - Manifest</a><br></br>	
			<a target="_blank" class="tag-item" href="https://workshop-content.cfapps.io/labs/12-lab-domains-and-routes.html">Lab 4 - Routes</a><br></br>		
						
		</div>
	</div>
</main>

<div th:include="components/footer"></div>
 
</body>
</html>